.menu-user{
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.menu-user > li {
    padding: 15px;
    position: relative;
    border-top: 1px solid #eee;
}

.menu-user > li:hover{
    background-color: #eee;
}

.menu-user > li:hover > a{
    text-decoration: none;
}

.menu-user > li > a {
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    line-height: 25px;
}

.menu-user > li > a i.material-icons {
    float: left;
    margin-right: 7px;
    margin-top: 2px;
    font-size: 20px;
}

.m-t-15 {
    margin-top:15px;
}

.v-middle {
    vertical-align: middle;
}

.table-custom > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.table-custom > tbody > tr > td {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

body, .modal.in { padding-right: 0 !important }